* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  max-width: 1000px;
}

.banner {
  position: relative;
  height: 250px;
  width: 1000px;
}

canvas {
  background: #000000;
  display: block;
  height: 100%;
  width: 100%;
}

.loader-wrapper {
  height: 100%;
}

.loading-logo {
  display: block;
  position: absolute;
  top: 35%;
  left: 43%;
  width: 150px;
}

.preloader {
  display: block;
  position: absolute;
  top: 45%;
  left: 50%;
  height: 40px;
  width: 40px;
  margin-top: -20px;
  margin-left: -20px;
  border-radius: 50%;
}

.color {
  border: 6px solid #d51b28;
  border-top: 4px solid transparent;
  top: 65%;
}

.banner-title {
  top: 10%;
  left: 5%;
  position: absolute;
}

.banner-img {
  width: 68%;
}

.logo-wrapper {
  display: flex;
  overflow: hidden;
  position: absolute;
  top: 45%;
  left: 50%;
  width: 100%;
}

.logo-1 {
  height: 41px;
  width: 23px;
}
.logo-2 {
  left: -100%;
  overflow: hidden;
  height: 41px;
  width: 150px;
}

.cta-wrapper {
  overflow: hidden;
  position: absolute;
  right: 15%;
  top: 45%;
  text-transform: uppercase;
}

.cta {
  background-color: #d51b28;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  position: relative;
  left: -100%;
  text-decoration: none;
  transition: 0.5s;
  height: 36px;
  width: 140px;
}

.cta:hover {
  color: #d51b28;
}

.cta::before {
  background-color: #ffffff;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.1s;
  height: 100%;
  width: 0;
  z-index: -1;
}

.cta:hover::before {
  width: 100%;
}

.bx-chevron-right {
  color: inherit;
  font-size: 2.5rem;
}
